.section-layout {
    width: 100%;
    border-bottom:1px dashed #ececec;
    padding: 5px 0;
}

.section-title {
    font-size: 16px;
    font-weight:bold;
    color: #acacac;
}

.ui-field-contain {
    border-bottom-width: 0px;
    border-bottom-style: none;
}